<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>nM7IGz1upXk84daX3ZtdGBCTIFBD5zgl1GhB4v9h6bPnazAVld</string>
	<key>API Key</key>
	<string>wGACD64Qv5AGWk4GhC9fombQ9</string>
</dict>
</plist>
